<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:replace="/fragments/header :: header-css" />
</head>
<body>
	<div th:replace="/fragments/header :: header" />

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Post</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Post Id:</label>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${post.id}">Post Id</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Titulo:</label>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${post.title}">Titulo</p>
						</div>
					</div>
					<div class="form-group" th:if="${post.body != ''}">
						<label class="col-sm-2 control-label">Mensagem:</label>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${post.body}">Mensagem</p>
						</div>
					</div>

					<div class="form-group" th:if="${post.secoes != null}">
						<label class="col-sm-2 control-label">Mensagem:</label>
						<div class="col-sm-10 secaoShowItem" th:each="secao: ${post.secoes}">
							<h4>
								<span th:text="${secao.paragrafo} + '.'">paragrafo</span> <span th:text="${secao.title}">title</span>
							</h4>
							<p class="secao-paragrafo" th:text="${secao.body}">body</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="/fragments/footer :: footer" />
</body>
</html>