<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="pagination">

    <!-- Pagination -->
    <div class="pagination" th:with="baseUrl=${URLparameter}">

		<span th:if="${pager.indexOutOfBounds()}">
			<div th:switch="${tipo}">
                <span th:case="'blog'">Não existe nenhum blog. Voltar para a <a class="pageLink" th:href="@{${baseUrl}(page=1)}">Pagina inicial</a>.</span>           
		        <span th:case="*">Não existe nenhum post. Voltar para a <a class="pageLink" th:href="@{${baseUrl}(page=1)}">Pagina inicial</a>.</span>
            </div>
		</span>
        <span th:unless="${pager.indexOutOfBounds()}">
        
            <span th:if="${pager.hasPrevious()}">
                <a class="pageLink" th:href="@{${baseUrl}(page=1)}">&laquo; primeira</a>
                <a class="pageLink" th:href="@{${baseUrl}(page=${pager.getPageIndex() - 1})}"> anterior</a>
            </span>

            <span th:if="${pager.getTotalPages() != 1}"
                  th:text="'Página ' + ${pager.getPageIndex()} + ' de ' + ${pager.getTotalPages()} + '.'">
            </span>

            <span th:if="${pager.hasNext()}">
                <a class="pageLink" th:href="@{${baseUrl}(page=${pager.getPageIndex() + 1})}">proxima</a>
                <a class="pageLink" th:href="@{${baseUrl}(page=${pager.getTotalPages()})}">ultima &raquo;</a>
            </span>
            
        </span>
    </div>
</div>
</body>
</html>