<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="posts">
		<div class="starter-template panel" th:each="post : ${pager.posts}">
			<div class="panel-heading">
				<h3>
					<a th:text="${post.title}" th:href="@{'/blog/' + ${blogKey} + '/post/' + ${post.id}}">Title</a>
				</h3>
				<div class="post-date" th:text="'Criado: ' + ${#dates.format(post.createDate, 'dd/MM/yyyy - HH:mm')} + ' por: '">Created by</div>
				<div class="post-autor">
					<span th:text="${post.user.name}">Usuário</span>
				</div>
				<div th:if="${@validateService.validateUserPermissionBlog(blogKey)}" class="post-edit">
                    <a  th:text="'Editar post'" th:href="@{'/blog/' + ${blogKey} + '/post/edit/' + ${post.id}}">Title</a>
                </div>		
			</div>
			<p class="panel-body" th:text="${post.body}">Mensagem</p>			
		</div>
	</div>
</body>
</html>