<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="posts">
		<div class="starter-template panel" th:each="post : ${pager.posts}">
			<div class="panel-heading">
				<h3>
					<a th:text="${post.title}" th:href="@{'/blog/' + ${blogKey} + '/post/' + ${post.id}}">Title</a>
				</h3>
				
				<div class="post-date" th:text="'Criado: ' + ${#dates.format(post.createDate, 'dd/MM/yyyy - HH:mm')} + ' por: '">Created by</div>							
				<div class="post-autor">
					<span th:text="${post.user.name}">Usuário</span>
				</div>
				<div class="" th:text="'Atualizado: ' + ${#dates.format(post.updateDate, 'dd/MM/yyyy - HH:mm')}">Edited by</div>
				
				<div th:if="${@validateService.validateUserPermissionBlog(blogKey)}" class="post-edit">
					<a th:text="'Editar post'" th:href="@{'/blog/' + ${blogKey} + '/post/edit/' + ${post.id}}">Title</a>
				</div>
			</div>
			<p class="panel-body" th:if="${post.body != ''}" th:text="${post.body}">Mensagem</p>

			<div class="form-group" th:if="${post.secoes != null}">
				<div class="col-sm-12" th:each="secao: ${post.secoes}">
					<h4>
						<span th:text="${secao.paragrafo} + '.'">paragrafo</span> <span th:text="${secao.title}">title</span>
					</h4>
					<p class="secao-paragrafo" th:text="${secao.body}">body</p>
				</div>
			</div>			
		</div>
	</div>
</body>
</html>