footer {
	margin-top: 60px;
}

.validation-message {
	font-style: normal;
	font-size: 10px;
	color: #FF1C19;
}

p {
	text-align: justify;
}

a {
	transition: all .2s;
}

a:hover, a:focus, a:active {
	color: purple;
	text-decoration: none;
}

.pagination {
	display: block;
	text-align: center;
}

.navbar {
	border-radius: 0px;
}

.alert-danger {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

.blog-autor {
	margin-left: 15px;
	position: relative;
	top: -5px;
}

.blog-autor>h5 {
	display: inline;
	font-weight: bold;
}

.post-autor {
	display: inline;
	position: relative;
	top: -5px;
	font-weight: bold;
}

.post-date {
	display: inline;
	position: relative;
	top: -5px;
}

.post-edit {
	display: block;
}

.panel-body {
	margin-top: -10px;
}

.panel {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29);
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.29);
	border-radius: 0;
	display: inline-block;
	width: 100%;
}

.form-check {
	margin-top: -5px;
	margin-bottom: 10px;
}

.form-check label, .form-check iput {
	cursor: pointer;
}

#chkSecao {
	position: relative;
	top: 2px;
	height: 14px;
	width: 14px;
	cursor: pointer;
}

#divSecao {
	display: none;
}

#divSecao button {
	margin-left: 15px;
}

#divSecao ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table;
	border-spacing: 10px;
	border-collapse: separate; /* Redundant */
}

#divSecao ul li {
	min-width: 100px;
	vertical-align: middle;
	display: table-cell;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0px 0px 3px #aaa;
	margin-right: 14px;
	background: #fff;
	font-family: 'gafata';
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#divSecao ul li img {
	vertical-align: middle;
}

.secaoShowItem {
	float: right;
}

.secaoPostForm {
	border-bottom: 1px solid #ccc;
}

.secaoPostForm .btn-danger {
	margin-right: -15px;
	float: right;
}

.divSecaoPostForm {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.secao-paragrafo {
	padding-left: 25px;
	margin-top: -5px;
}