footer {
	margin-top: 60px;
}

.validation-message {
	font-style: normal;
	font-size: 10px;
	color: #FF1C19;
}

a {
	transition: all .2s;
}

a:hover, a:focus, a:active {
	color: purple;
	text-decoration: none;
}

.pagination {
	display: block;
	text-align: center;
}

.navbar {
	border-radius: 0px;
}

.alert-danger {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

.blog-autor {
	margin-left: 15px;
	position: relative;
	top: -5px;
}

.blog-autor>h5 {
	display: inline;
	font-weight: bold;
}

.post-autor {
	display: inline;
	position: relative;
	top: -5px;
	font-weight: bold;
}

.post-date {
	display: inline;
	position: relative;
	top: -5px;
}

.post-edit {
	display: block;
}

.panel-body {
	margin-top: -10px;
}

.panel {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29);
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.29);
	border-radius: 0;
}