footer {
	margin-top: 60px;
}

.validation-message {
	font-style: normal;
	font-size: 10px;
	color: #FF1C19;
}

a {
	transition: all .2s;
}

a:hover, a:focus, a:active {
	color: purple;
	text-decoration: none;
}

.pagination {
	display: block;
	text-align: center;
}

.navbar {
	border-radius: 0px;
}

.alert-danger {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}